.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  /* grid-template-columns: repeat(2, 500px); */
  /* grid-auto-rows: 350px;
  grid-auto-flow: row;
  grid-gap: 20px 20px; */
}

/* .container #first-img {
  grid-column-start: 1;
  grid-row-start: 1;
} */

.sub-container {

}

.frame-img {
  /* width: auto; */
  max-height: 350px;
  margin: 5px 0px;
  /* padding-bottom: 75% */
  max-width: 45vw;
}

.like-icon {
  width: 40px;
  cursor: pointer;
}
/* .alr-liked-icon {
  width: 40px;
} */

.like-num {
  font-size: 36px;
  vertical-align: top;
  padding-left: 20px;
}

